


h1{
  font-size:50px;
  color:white;
  background:teal;
  padding:15px 10px 15px 10px;
  
}


a{
  color:grey;
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  font-size:25px;
}

label{
  color:teal;
  margin:1% 0% 1% 0%;
  font-size:20px
}

button{
  margin-left:1%;
  margin-bottom:1%;
  color:white;
  background:teal;
  border-radius: 50

}


.header-content{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  color:teal;
  border-bottom: 1px wheat solid;
  margin-bottom:5px;
}


.card{
  margin:0 auto;
  background:white;
  /* height:50vw; */
  width:75vh;
}

.p-card{
  width:80vw;
  height:95vh;
  background:white;
}
.image-group{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-around;
}
.p-image{
  width:30%;
  margin: 1%;;
}
.p-image:hover{
  opacity:0.4;
}

.card-header{
  font-size:30px;
  color:teal;
  text-align: center;
  padding:5px 0px 5px 0px;
  background: #f5f5f5;
  border-bottom: 1px wheat solid;
}

.image-group{
  display:flex;
}

.input-group{
  display:block;
  width:95%;
  margin-left:1%;
  margin-bottom:1%;
  margin-top:1%;
}


.body-content{
  padding-top:10px;
  margin-top:20px;
  /* position:relative; */
  height:100vh;
  width:98vw; 
  margin:0 auto;
  background:url(background-2.jpg)
}




.footer{
  
  background:black;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  
}



#about-me-img{
  margin-left:2%;
  margin-right:2%;
  float:left
}

#about-me-text{
  line-height: 2em;
  font-size: 16px;
  color:grey;
  padding: 5px 5px 20px 5px;
  text-align: justify;
  
 
}





@media only screen and (max-width:980px){
  .card{
    float:left;
    margin-left:10%;
  }
}

@media only screen and (max-width:768px){

  .card{
    width:70vh;
  }
  .p-card{
    width:85vw;
    height:90vh;
    
  }
  .p-image{
    width:45%;
    height:15vh;;
  }

  .contact-card-content{
    width:60vw;
  }

}

@media only screen and (max-width:640px){
  header{
    position: static;
  }
  /* .p-image{
    height:22%;
  }
  */

  .header-content{
    display:flex;
    flex-direction:column;
  }
  h1{
    margin-top:0;
    width:100vw;
    text-align: center
  }
  .card-header{
    width:98%;
    padding-left:0;
  }
  .card{
    width:90%;
    height:90%;
    margin: 0 auto;
    margin-left:2%;
    overflow-y: hidden;
  }
  #about-me-img{
    width:80%;
    float:none;
    height:150px;
    width:150px;
  

  }
  .card-content{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .footer{
    width:100vw;
  }
  #about-me-text{
    width:60vw;
    
  }

  input{
    text-align:center
  }


}



